@model IEnumerable<Student>;      // นำเข้า models จาก StudentController, ใช้ IEnumerable เพื่อนำเข้า list
@{
    ViewData["Title"] = "หน้าแรก";       // เปลี่ยนชื่อบน browser
}

<h1 class="text-center">คะแนนสอบวิชาคอมพิวเตอร์</h1>

@foreach(var student in Model)      // ใช้ loop for each ต้องใช้กับ List เท่านั้น คือ ดึงข้อมูลทั้งหมดจาก Model แล้วเก็บค่าใน student
{
    <p>รหัสนักเรียน: @student.Id</p>
    <p>ชื่อ: @student.Name</p>
    <p>คะแนนสอบ: @student.Score</p>
    @if (student.Score >= 50)
    {
        <strong class="text-success">สอบผ่าน</strong>
    }
    else
    {
        <strong class="text-danger">สอบไม่ผ่าน</strong>
    }
    <hr />
}
